Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@lucaslinhares 
lucaslinhares
/
lucaspic
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
lucaspic/frontend/.gitignore
lucaspic/backend/.gitignore
@lucaslinhares
lucaslinhares diretivas, home e mais
Latest commit 8847c61 on 30 May
 History
 1 contributor
44 lines (37 sloc)  558 Bytes

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Stud
.vscode/
!.vscode/settings.jsoio Code
.vscode/*n
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
